html, body {
    background-color: rgb(255, 235, 217);
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

/* HEADER */

header {
    background-color: rgb(253, 218, 187);
    margin-top: 0;
    height: 60px;
    text-align: center;
    padding: 4px;
}

header h1 {
    height: 100%;
    margin: 0;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    min-height: 70vh;
    margin: 20px auto;
    padding: 8px;
    /* background-color: #fefefe; */
}

/* ADD BOOK BUTTON */

#add-book {
    width: 125px;
    border: 1px solid rgb(253, 218, 187);
    background-color: rgb(255, 235, 217);
    padding: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
}

#add-book:hover {
    background-color: rgb(253, 218, 187);
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.3s;
    width: 135px;
    border: 1px solid rgb(250, 205, 166);
}

/* to display the form div */ 

#hidden {
    display: none;
    position: fixed; /* fixed to viewport */
    top: 0;
    left: 0;
    width: 100vw;  /* full viewport width */
    height: 100vh; /* full viewport height */
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent dark overlay */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* FORM */

.form-container {
    width: 270px;
    min-height: 255px;
    border: 2px solid rgb(253, 218, 187);
    border-radius: 10px;
    background-color: #f8e1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

form {
    text-align: center;
}

form h3 {
    font-size: 1.4rem;
}

.inputs input{
    padding: 6px;
    margin-bottom: 9px;
    border-radius: 6px;
    border: none;
    font-size: 1.2rem;
}

.radio-btn {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.radio-btn > label {
    width: 100%;
}

.radio-btn label {
    font-weight: 550;
    font-style: italic;
    font-size: 0.99rem;
}

#submit {
    cursor: pointer;
    padding: 6px;
    font-size: 1.2rem;
    border: 1px solid rgb(253, 218, 187);
    border-radius: 7px;
    background-color: #f3bfbf;
    width: 60%;
    margin-top: 7px;
    margin-bottom: 7px;
}

#submit:hover {
    font-size: 1.3rem;
    background-color: #f3aaaa;
    transition: 0.3s;
}

/* BOOK'S SECTION */

#books-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

.book-div {
    width: 250px;
    height: 205px;
    border: 2px solid rgb(253, 218, 187);
    border-radius: 10px;
    background-color: #f8e1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
}

.book-div:hover {
    padding: 18px;
    background-color: #f8d7d7;
    transition: 0.2s;
}

.book-items {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
    text-align: center;
}

.book-items li {
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.book-items h3 {
    margin: 0 0 5px 0;
    font-size: 1.5rem;
}


/* READ BUTTON */

.read-btn {
    cursor: pointer;
    padding: 6px;
    font-size: 1.2rem;
    border: 1px solid rgb(253, 218, 187);
    border-radius: 7px;
    background-color: #49fa84;
    width: 60%;
    margin-top: 7px;
    margin-bottom: 7px;
}

.read-btn:hover {
    font-size: 1.3rem;
    background-color: #19da59;
    transition: 0.3s;
}

.not-read-btn {
    cursor: pointer;
    padding: 6px;
    font-size: 1.2rem;
    border: 1px solid rgb(253, 218, 187);
    border-radius: 7px;
    background-color: #fa4949;
    width: 60%;
    margin-top: 7px;
    margin-bottom: 7px;
}

.not-read-btn:hover {
    font-size: 1.3rem;
    background-color: #ff3535;
    transition: 0.3s;
}

/* REMOVE BUTTON */

.remove-btn {
    padding: 6px;
    font-size: 1.2rem;
    border: 1px solid rgb(253, 218, 187);
    border-radius: 7px;
    background-color: rgb(253, 218, 187);
    width: 60%;
    margin-top: 7px;
    margin-bottom: 7px;
    cursor: pointer;
}

.remove-btn:hover {
    font-size: 1.3rem;
    background-color: rgb(240, 164, 98);
    transition: 0.3s;
}

/* FOOTER */

footer {
    text-align: center;
    font-weight: 550;
    padding: 8px;
}

#footer-txt a {
    text-decoration: none;
    color: black;
}

#github-icon {
    font-size: 1.5rem;
    margin-right: 13px;
}

#github-icon:hover {
    font-size: 1.6rem;
    transition: 0.3s;
    transform: rotate(360deg);
}